{% extends 'master' %}

{% block content %}
  <div class="__banner">
    <div class="banner__inner">
      <img src="/assets/corgi.svg">
      <h2>Impractical <span>High Energy</span> So Much Fetch</h2>
    </div>
  </div>
{% endblock %}
